# Maven - Archivos compilados
**/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Bases de Datos Locales
*.db
*.sqlite

# Logs
logs/
*.log

# IDEs (IntelliJ, VS Code)
.idea/
*.iml
*.iws
.vscode/
.settings/
.classpath
.project

# Otros
.DS_Store