apiVersion: apps/v1
kind: Deployment
metadata:
  name: product-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: product-service
  template:
    metadata:
      labels:
        app: product-service
    spec:
      containers:
      - name: product-service
        image: dextre78/micro-product-java:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        
        env:        
        - name: SPRING_DATASOURCE_URL
          value: "jdbc:postgresql://postgres-0:5432/catalogs?currentSchema=product_catalog"
          #value: "jdbc:postgresql://postgres-0.postgres:5432/catalogs?currentSchema=product_catalog"
        - name: SPRING_DATASOURCE_USERNAME
          value: "appuser"
        - name: SPRING_DATASOURCE_PASSWORD
          value: "secret"        
        - name: SPRING_DATASOURCE_DRIVER_CLASS_NAME
          value: "org.postgresql.Driver"        
        - name: SPRING_JPA_PROPERTIES_HIBERNATE_DEFAULT_SCHEMA
          value: "product_catalog"
---
apiVersion: v1
kind: Service
metadata:
  name: product-service
spec:
  type: NodePort 
  selector:
    app: product-service
  ports:
    - port: 8080
      targetPort: 8080
      nodePort: 30001