apiVersion: apps/v1
kind: Deployment
metadata:
  name: product-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: product-service
  template:
    metadata:
      labels:
        app: product-service
    spec:
      containers:
      - name: product-service
        image: dextre78/micro-product-java:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        
      env:
      - name: QUARKUS_DATASOURCE_JDBC_URL
        value: "jdbc:postgresql://postgres-0.postgres:5432/catalogs?currentSchema=product_catalog"
      - name: QUARKUS_DATASOURCE_USERNAME
        value: "appuser"
      - name: QUARKUS_DATASOURCE_PASSWORD
        value: "secret"
---
apiVersion: v1
kind: Service
metadata:
  name: product-service
spec:
  type: NodePort 
  selector:
    app: product-service
  ports:
    - port: 8080
      targetPort: 8080
      nodePort: 30001